<div class="col-md-10 col-md-offset-1">
  <h2><%= @city.name %></h2>
  <%= render 'forecast_area', weather_forecasts: @weather_forecasts.today, statistics: @statistics.today %>
  <%= render 'forecast_area', weather_forecasts: @weather_forecasts.tomorrow, statistics: @statistics.tomorrow %>
</div>
