body {
  padding-bottom: 25px;
}

h1 {
  padding-bottom: 3px;
  font-weight: bolder;
  color: rgb(65, 65, 65);
  border-bottom: 2px solid rgb(65, 65, 65);
}

header {
  background-color: #4885ed;
  li, ul, a {
    color: white;
    &:hover {
      color: rgb(228, 228, 228);
      background-color: #4885ed !important;;
    }
  }
}

table {
  margin: 0 auto;
  th, td {
    text-align: center;
    font-size: 15px;
  }
}

.forecast {
  margin-top: 50px;
  padding: 15px;
  box-shadow: 2px 2px 8px gray;
  overflow: auto;
  .forecast-head {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid rgb(170, 170, 170);
    font-size: 16px;
    .date {
      font-size: 20px;
    }
    .max {
      padding-left: 10px;
      color: red;
    }
    .min {
      color: blue;
    }
    .feels {
      float: right;
    }
  }
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  box-shadow: 2px 2px 8px gray;
  .statistic {
    text-align: center;
    .max {
      color: red;
    }
    .min {
      color: blue;
    }
  }
}
