<header>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'お天気マン', root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '都道府県で調べる', root_path %></li>
      </ul>
    </div>
  </nav>
</header>